In [12]:
import pandas as pd

file = "Malaria.csv"

malaria_file = pd.read_csv(file, encoding = 'latin-1')
malaria_file.head()

,Countries,Indicators,Unnamed: 2,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,NaN,NaN,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
1,Algeria,Population at risk of malaria,NaN,"1,110,165","1,125,250","1,140,055","1,155,105","1,171,135","1,188,635","1,207,745","1,228,395","1,250,375","1,273,405","1,297,205","1,321,704","1,346,860","1,368,727","1,390,950","1,413,533"
2,Angola,Population at risk of malaria,NaN,"13,925,000","14,385,000","14,887,000","15,421,000","15,977,000","16,544,000","17,122,000","17,713,000","18,314,000","18,927,000","19,549,000","20,180,490","20,820,525","21,530,282","22,264,234","23,023,206"
3,Benin,Public domestic sources of spending on Infecti...,in million current US$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,31,26,NaN
4,Benin,Population at risk of malaria,NaN,"6,949,000","7,175,000","7,415,000","7,666,000","7,923,000","8,182,000","8,444,000","8,707,000","8,973,000","9,241,000","9,510,000","9,779,795","10,050,702","10,364,601","10,688,303","11,022,114"

In [21]:
malaria_file.drop(['Unnamed: 2'], axis=1, inplace = True)

malaria_file.head()

,Countries,Indicators,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,NaN,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
1,Algeria,Population at risk of malaria,"1,110,165","1,125,250","1,140,055","1,155,105","1,171,135","1,188,635","1,207,745","1,228,395","1,250,375","1,273,405","1,297,205","1,321,704","1,346,860","1,368,727","1,390,950","1,413,533"
2,Angola,Population at risk of malaria,"13,925,000","14,385,000","14,887,000","15,421,000","15,977,000","16,544,000","17,122,000","17,713,000","18,314,000","18,927,000","19,549,000","20,180,490","20,820,525","21,530,282","22,264,234","23,023,206"
3,Benin,Public domestic sources of spending on Infecti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,NaN,31,26,NaN
4,Benin,Population at risk of malaria,"6,949,000","7,175,000","7,415,000","7,666,000","7,923,000","8,182,000","8,444,000","8,707,000","8,973,000","9,241,000","9,510,000","9,779,795","10,050,702","10,364,601","10,688,303","11,022,114"

In [22]:
clean_malaria_file = malaria_file.dropna(how='any')
clean_malaria_file.head()

,Countries,Indicators,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Algeria,Population at risk of malaria,"1,110,165","1,125,250","1,140,055","1,155,105","1,171,135","1,188,635","1,207,745","1,228,395","1,250,375","1,273,405","1,297,205","1,321,704","1,346,860","1,368,727","1,390,950","1,413,533"
2,Angola,Population at risk of malaria,"13,925,000","14,385,000","14,887,000","15,421,000","15,977,000","16,544,000","17,122,000","17,713,000","18,314,000","18,927,000","19,549,000","20,180,490","20,820,525","21,530,282","22,264,234","23,023,206"
4,Benin,Population at risk of malaria,"6,949,000","7,175,000","7,415,000","7,666,000","7,923,000","8,182,000","8,444,000","8,707,000","8,973,000","9,241,000","9,510,000","9,779,795","10,050,702","10,364,601","10,688,303","11,022,114"
6,Botswana,Population at risk of malaria,"728,325","739,945","750,735","760,695","769,825","778,540","786,840","794,725","802,610","810,080","817,135","824,481","831,623","840,865","850,211","859,660"
8,Burkina Faso,Population at risk of malaria,"11,608,000","11,946,000","12,296,000","12,659,000","13,034,000","13,422,000","13,822,000","14,235,000","14,660,000","15,095,000","15,540,000","15,995,313","16,460,141","16,946,235","17,446,685","17,961,913"

In [25]:
df_malaria = pd.DataFrame(clean_malaria_file)
df_malaria.head()

,Countries,Indicators,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Algeria,Population at risk of malaria,"1,110,165","1,125,250","1,140,055","1,155,105","1,171,135","1,188,635","1,207,745","1,228,395","1,250,375","1,273,405","1,297,205","1,321,704","1,346,860","1,368,727","1,390,950","1,413,533"
2,Angola,Population at risk of malaria,"13,925,000","14,385,000","14,887,000","15,421,000","15,977,000","16,544,000","17,122,000","17,713,000","18,314,000","18,927,000","19,549,000","20,180,490","20,820,525","21,530,282","22,264,234","23,023,206"
4,Benin,Population at risk of malaria,"6,949,000","7,175,000","7,415,000","7,666,000","7,923,000","8,182,000","8,444,000","8,707,000","8,973,000","9,241,000","9,510,000","9,779,795","10,050,702","10,364,601","10,688,303","11,022,114"
6,Botswana,Population at risk of malaria,"728,325","739,945","750,735","760,695","769,825","778,540","786,840","794,725","802,610","810,080","817,135","824,481","831,623","840,865","850,211","859,660"
8,Burkina Faso,Population at risk of malaria,"11,608,000","11,946,000","12,296,000","12,659,000","13,034,000","13,422,000","13,822,000","14,235,000","14,660,000","15,095,000","15,540,000","15,995,313","16,460,141","16,946,235","17,446,685","17,961,913"

In [24]:
clean_malaria_file.to_csv("clean_malaria_file.csv", index=False, header=True)